*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-blue-800: #0b2434;
  --clr-white-200: #f5f5f5;
  --clr-white-100: #ffffff;
  --clr-green-100: #59e391;
  --btn-clr: #5035ff;
  --btn-clr-hover: hsl(248, 100%, 57%);
  --btn-clr-active: hsla(248, 100%, 62%, 0.8);
  --btn-transition: all 0.3s linear;
  --btn-transform-hover: translateY(2px);
  --btn-transform-active: translateY(-4px);
  --dice-hover: #4e33ff1a;
  --dice-transform-hover: scale(1.05);
  --dice-transform-active: scale(1.1);
  --dice-transition: all 0.2s linear;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background: var(--clr-blue-800);
  display: grid;
  place-items: center;
}

button {
  background: var(--btn-clr);
  border: none;
  border-radius: 1rem 1.5rem;
  padding: 1rem 3.5rem;
  color: var(--clr-blue-800);
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  transition: var(--btn-transition);
}

button:hover {
  background-color: var(--btn-clr-hover);
  transform: var(--btn-transform-hover);
  transition: var(--btn-transition);
}

button:active {
  transform: var(--btn-transform-active);
  transition: var(--btn-transition);
  background-color: var(--btn-clr-active);
}

.App {
  padding: 1em;
}

.container {
  background-color: var(--clr-white-200);
  width: 40rem;
  max-width: 90vw;
  margin: 0 auto;
  padding: 4em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  border-radius: 50px 100px;
  text-align: center;
  color: var(--clr-blue-800);
}

.game-header h1 {
  font-size: clamp(2rem, 1rem + 2vw, 2.5rem);
  margin-bottom: 0.25em;
}

.game-header p {
  max-width: 27ch;
  font-size: clamp(1.2rem, 1rem + 1vw, 1.5rem);
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

@media screen and (max-width: 350px) {
  .dice-container {
    grid-gap: 2vw;
  }
}

.dice {
  padding: 0.5em 0.75em;
  background-color: var(--clr-white-100);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: clamp(1rem, 1rem + 1.5vw, 1.8rem);
  font-weight: 600;
  border-radius: 5px;
  transition: var(--dice-transition);
}

.dice:hover {
  cursor: pointer;
  background-color: var(--dice-hover);
  transform: var(--dice-transform-hover);
  transition: var(--dice-transition);
}

.dice:active {
  transform: var(--dice-transform-active);
  transition: var(--dice-transition);
  background-color: var(--clr-green-100);
  opacity: 0.8;
}

.dice.frozen {
  background-color: var(--clr-green-100);
}

.dice.roll {
  animation: roll 200ms ease-in-out;
}

@keyframes roll {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    transform: rotate3d(2, 50, 25, 360deg);
  }
}
